.projects{
    margin-top: 10rem;
    padding: 2rem 0;
    &__list{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        width: 90%;
        margin: auto;
        row-gap: 2rem;
        column-gap: 2rem;
    }
    &__title{
        width: 90%;
        margin: auto;
        font-weight: 400;
    }
}

@media (min-width : 768px) and (max-width: 1023px){
    .projects{
        &__list{
        grid-template-columns: repeat(2,1fr);
        row-gap: 0;            
        }
    } 
}

@media (max-width: 767px){
    .projects{
        &__list{
        grid-template-columns: repeat(1,1fr);          
        }
    } 
}