.projectPage{
    width: 70%;
    margin: auto;
    &__title{
        font-size: 48px;
        font-weight: 100;
        margin-bottom: 0;
    }
    &__description{
        font-size: 32px;
        font-weight: 100;
        margin: 0;
    }
    &__stack{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 2rem;
        padding: 0;
        &__element{
            display: flex;
            flex-direction: column;
            align-items: center;
            list-style-type: none;
            &__icon{
                width: 32px;
                height: 32px;
            }
            &__name{
                font-size: 16px;
                font-weight: 100;
                margin: 0;
            }
        }
    }
    &__details{
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 2rem;
        &__links_paragraphers{
            display: flex;
            flex-direction: column;
        }
        &__links{
            display: flex;
            flex-direction: column;
            &__linkName{
                font-weight: 100;
                margin: 0;
            }
            &__link{
                font-weight: 100;
            }
        }
        &__paragraphers{
            display: flex;
            flex-direction: column;
            padding: 0;
            &__paragrapher{
                list-style-type: none;
                font-weight: 100;
            }
        }
        &__images{
            &__image{
                width: 500px;
                cursor: pointer;
                filter: brightness(1);
                transition: filter .3s ease-in-out;
                box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem black;
            }
            &__image:hover{
                filter: brightness(0.5);
                transition:  filter .3s ease-in-out;
            }
        }
    }
    &__otherLinks{
        display: flex;
        flex-direction: column;
        padding: 0;
        &__linkName{
            list-style-type: none;
            font-weight: 100;
        }
        &__link{
            font-weight: 100;
        }
    }
    &__responsive{
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 7px;
        margin: 0;
        font-weight: 100;
    }
}

#responsive{
    width: 48px;
    height: 48px;
}

#check,#uncheck{
    width: 24px;
    height: 24px;
}

@media (max-width: 424px){

}

@media (min-width : 425px) and (max-width: 767px){

}

@media (min-width : 768px) and (max-width: 1023px){

}

@media (min-width: 1024px) and (max-width: 1439px){

}

@media (min-width: 1440px){

}
