.header{
    background-color: #131418;
    padding: 1rem 3rem;
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1440px;
        margin: auto;
    }
    &__name, &__frontend, &__nav_element{
        margin: 0;
        color: white;
        font-weight: 100;
    }
    &__nav_element{
        cursor: pointer;
        list-style-type: none;
    }
    &__nav_element:hover{
        text-decoration: underline white;
    }
    &__nav_list{
        display: flex;
        flex-direction: row;
        column-gap: 3rem;
        font-size: x-large;
    }
}


@media (max-width: 424px){
    .header{
        padding: 1rem;
        &__name{
            font-size: 16px;
        }
        &__frontend{
            font-size: 13px;
        }
        &__nav_element{
            font-size: 10px;
        }
        &__nav_list{
            column-gap: 1rem;
        }
    }

}

@media (min-width : 425px) and (max-width: 767px){
    .header{
        padding: 1.2rem;
        &__name{
            font-size: 18px;
        }
        &__frontend{
            font-size: 15px;
        }
        &__nav_element{
            font-size: 12px;
        }
        &__nav_list{
            column-gap: 1.5rem;
        }
    }

}

@media (min-width : 768px) and (max-width: 1023px){
    
}

@media (min-width: 1024px) and (max-width: 1439px){
    
}

@media (min-width: 1440px){
    
}