.header{
    background-color: #131418;
    padding: 1rem 3rem;
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1440px;
        margin: auto;
    }
    &__name, &__frontend, &__nav_element{
        margin: 0;
        color: white;
        font-weight: 100;
    }
    &__nav_element{
        display: flex;
        align-items: inherit;
        height: 34px;
        padding: 0;
        cursor: pointer;
        list-style-type: none;
    }
    &__nav_element:hover{
        text-decoration: underline white;
    }
    &__nav_list{
        display: flex;
        flex-direction: row;
        align-items: center;

        column-gap: 3rem;
        font-size: x-large;
    }
    &__option{
        cursor: pointer;
    }
    &__button{
        background-color: transparent;
    }
}

#language_button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    box-shadow: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-weight: 100;
    font-size: x-large;
    text-transform: none;
    min-width: 50px;
    padding: 0;
    column-gap: .2rem;
}

#language_button:hover{
    background-color: transparent;
}

@media (max-width: 424px){
    .header{
        padding: 1rem;
        &__name{
            font-size: 16px;
        }
        &__frontend{
            font-size: 13px;
        }
        &__nav_element{
            font-size: 10px;
        }
        &__nav_list{
            column-gap: 1rem;
            align-items: center;
        }
    }

}

@media (min-width : 425px) and (max-width: 767px){
    .header{
        padding: 1.2rem;
        &__name{
            font-size: 18px;
        }
        &__frontend{
            font-size: 15px;
        }
        &__nav_element{
            font-size: 12px;
        }
        &__nav_list{
            column-gap: 1.5rem;
            align-items: center;
        }
    }

}

@media (min-width : 768px) and (max-width: 1023px){
    
}

@media (min-width: 1024px) and (max-width: 1439px){
    
}

@media (min-width: 1440px){
    .header{
        &__flag{
            width: 32px;
            height: auto;
        }
    }
}